* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 19, 130);
    z-index: 2;
}

h1 {
    text-align: center;
    font-size: 6em;
}

.flex-container {
    position: relative;
    top: 6.9em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.filter-container {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 20px 0 20px;
    background-color: rgb(165, 29, 145);
    width: 40%;
    height: 100vh;
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter label  {
    font-size: 1.7em;
    margin: 10px 0 8px 0;
    color: white;
}

select {
    width: 100%;
    font-size: 1em;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #1f1f1f;
    cursor: pointer;
}

#clear-filter-btn {
    padding: 10px;
    background-color: white;
    border: 1px solid #1f1f1f;
    border-radius: 8px;
    box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
}

#clear-filter-btn:hover {
    background-color: rgb(255, 0, 204);
    cursor: pointer;
}

#map {
    width: 100%;
    height: 320px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.wrapper {
    padding-bottom: 20px;
    background-color:rgba(158, 19, 130, 0.906);
}

.sub-header {
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 20px;
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: scroll;
}

.card-container .card {
    border-radius: 20px;
}

.card {
    margin: auto;
    width: 260px;
    height: 500px;
    box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    scale: 1.1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    gap: 8px;
    color: black;
    background-color: ghostwhite;
    padding: 10px;
}
p {
    font-weight: 90;
    font-size: 1em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-weight: 580;
    font-size: 1.4em;
}
h4 {
    font-weight: 550;
}
h5 {
    font-size: 0.5em;
    font-weight: 100;
}

/* Swiper */
.swiper {
    width: 100%;;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    height: 250px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    padding: 3px;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.swiper-pagination-bullet {
    background: antiquewhite;
    width: 16px;
    height: 16px;
}

/* Modal */
dialog {
    z-index: 10;
    position: fixed;
    width: 40%;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: none;
    position: relative;
    padding-bottom: 42px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

body.modal-open {
    overflow: hidden; /* Prevent scrolling while modal is open */
}

#close-modal {
    position: fixed;
    top: 16px;
    right: 16px;
    border: none;
    background-color: blueviolet;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    z-index: 2;
}

.modal-contents {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-text {
    padding: 20px;
}

.modal-contents img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.modal-text h2 {
    text-align: center;
    font-size: 2em;
}

.modal-text h3 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 8px;
}

.modal-contents h5 {
    font-size: 1em;
}

.modal-contents h4 {
    font-size: 24px;
    margin-top: 16px;
}

/* Media Queries */
/* Tablet */
@media only screen and (max-width: 768px) {
    header {
        top: 0;
    }
    h1 {
        font-size: 5em;
    }
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0;
    }
    .flex-container {
        top: 5.7em;
    }
    .filter-container {
        top: 4em;
        width: 40%;
        gap: 20px;
        margin-left: 10%;
    }
    .filter label  {
        font-size: 1em;
    }
    select {
        width: 100%;
        font-size: 0.5em;
        padding: 8px;
    }
    #map {
        height: 150px;
        margin-bottom: 20px;
    }
    .sub-header {
        font-size: 1.5em;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        padding: 30px;
    }
    .card {
        margin: auto;
        width: 200px;
        height: 500px;
    }
    p {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-weight: 580;
        font-size: 1em;
    }
    h4 {
        font-weight: 550;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    header {
        position: fixed;
    }
    h1 {
        font-size: 3rem;
    }
    .filter-container {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        top: 7%;
        width: 100%;
        height: 200px;
        padding: 20px 20px 0 20px;
        margin-left: 14%;
    }
    .filter {
        top: 8em;
        display: flex;
        flex-direction: column;
    }
    .filter label  {
        font-size: 0.8em;
        margin: 4px 0;
    }
    select {
        width: 100%;
        font-size: 0.4em;
        padding: 4px;
    }
    .wrapper {
        position: relative;
        top: 10rem;
        margin-left: 15%;
        z-index: -1;
    }
    .sub-header {
        font-size: 1.3em;
        padding: 20px;
    }
    #map{
        width: 70%;
        height: 100%;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        margin: auto;
        width: 220px;
        height: 500px;
    }
}